# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next
out
build
dist

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
*.log
*.iml

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
.turbo
.vercel
